<!DOCTYPE html>
<html lang="en" class="ng-scope" ng-app="bangModule">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>BANG 2.0 | Blind Test</title>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="css/simple-sidebar.css" rel="stylesheet">
	</head>
	<body ng-controller="ThemesController as themesCtrl">
		<div id="wrapper">
			<ng-include src="'navbar.html'"></ng-include>
			<!-- #NORMAL -->
			<div class="row" id="normal">
				<div class="col-lg-12">
					<h3>Blind Test</h3>
					<hr>
					<table class="table table-striped">
						<tbody>
							<tr>
								<td ng-repeat="normal in themesCtrl.normals.slice(0,4)">
								  <button class="btn btn-lg btn-block btn-float" ng-click="used = !used" ng-class="{'btn-primary' :  used}" style="font-size:1.8em;">{{normal.name}}</button>
								</td>
							</tr>
							<tr>
								<td ng-repeat="normal in themesCtrl.normals.slice(4,8)">
								  <button class="btn btn-lg btn-block btn-float" ng-click="used = !used" ng-class="{'btn-info' :  used}" style="font-size:1.8em;">{{normal.name}}</button>
								</td>
							</tr>
							<tr>
								<td ng-repeat="normal in themesCtrl.normals.slice(8,12)">
								  <button class="btn btn-lg btn-block btn-float" ng-click="used = !used" ng-class="{'btn-danger' :  used}" style="font-size:1.8em;">{{normal.name}}</button>
								</td>
							</tr>
							<tr>
								<td ng-repeat="normal in themesCtrl.normals.slice(12,16)">
								  <button class="btn btn-lg btn-block btn-float" ng-click="used = !used" ng-class="{'btn-warning' :  used}" style="font-size:1.8em;">{{normal.name}}</button>
								</td>
							</tr>
							<tr>
								<td ng-repeat="normal in themesCtrl.normals.slice(16,20)">
								  <button class="btn btn-lg btn-block btn-float" ng-click="used = !used" ng-class="{'btn-success' :  used}" style="font-size:1.8em;">{{normal.name}}</button>
								</td>
							</tr>
							<!-- <tr>
							<td ng-repeat="normal in themesCtrl.normals.slice(25,30)">
							  <button class="btn btn-lg btn-block btn-float" ng-click="used = !used" ng-class="{'btn-default' :  used}" style="font-size:1.8em;">{{normal.name}}</button>
							</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>
			<!-- /#NORMAL -->
		</div>
		
		<!-- JavaScript -->
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/npm.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<!-- Menu Toggle Script -->
		<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		</script>
	</body>
</html>
