<!DOCTYPE html>
<html lang="en" class="ng-scope" ng-app="bangModule">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>BANG 2.0 | En Images</title>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="css/simple-sidebar.css" rel="stylesheet">
	</head>
	<body ng-controller="ThemesController as themesCtrl">
		<div id="wrapper">
			<ng-include src="'navbar.html'"></ng-include>
			<!-- #IMAGES -->
			<div class="row" id="images">
				<div class="col-lg-12">
				<h3>En Images</h3>
					<table class="table table-striped">
						<tbody>
							<tr>
								<td width="50%" ng-repeat="image in themesCtrl.images.slice(0,2)">
									<button style="font-size:5em;" ng-click="imageUsed = !imageUsed" ng-class="{'btn-primary' :  imageUsed}" class="btn btn-bigfloat btn-lg btn-block btn-primary">{{image.name}}</button>
								</td>  
							</tr>
							<tr>
								<td width="50%" ng-repeat="image in themesCtrl.images.slice(2,4)">
									<button style="font-size:5em;" ng-click="imageUsed = !imageUsed" ng-class="{'btn-primary' :  imageUsed}" class="btn btn-bigfloat btn-lg btn-block btn-primary">{{image.name}}</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div> 
			</div>
			<hr>
			<div class="row" id="quiz">
				<div class="row" ng-repeat="image in themesCtrl.images">
					<div class="col-lg-12">
						<h3>{{image.name}}</h3>
						<hr>
					</div>
					<div class="col-lg-12" ng-repeat="question in image.questions">
					<div class="panel panel-primary">
						<div class="panel-heading" style="font-size:2em">Question {{$index+1}}/{{image.questions.length}}</div>
						<div class="panel-body" style="font-size:2.5em"><p>{{question.question}}</p></div>
						<div class="panel-footer">
							<button style="font-size:2.5em" ng-repeat="reponse in question.reponses" ng-click="imageFound = !imageFound" ng-class="{'btn-{{reponse.class}}' : !imageFound}" class="btn btn-block btn-lg btn-float"><p style="margin:auto;padding:auto;">{{reponse.reponse}}</p></button>
						</div>
					</div>
					<hr>
					</div>
				</div>
			</div>
			<!-- /#IMAGES -->
		</div>
		
		<!-- JavaScript -->
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/npm.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<!-- Menu Toggle Script -->
		<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		</script>
	</body>
</html>
