<!DOCTYPE html>
<html lang="en" class="ng-scope" ng-app="bangModule">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>BANG 2.0 | Le Grand Blind Test</title>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="css/simple-sidebar.css" rel="stylesheet">
	</head>
	<body ng-controller="ThemesController as themesCtrl">
		<div id="wrapper">
			<ng-include src="'navbar.html'"></ng-include>
			<!-- #INDEX -->
			<div class="row" id="index">
				<div class="col-lg-12">
					<h3>Le Grand Blind Test</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td ng-repeat="game in themesCtrl.games.slice(0,3)">
								  <button data-toggle="modal" data-target="#{{game.id}}" class="btn btn-lg btn-block btn-float" ng-click="gameUsed = !gameUsed" ng-class="{'btn-{{game.class}}' : !gameUsed}" style="font-size:2.5em;">{{game.name}}</button>
								</td>
							</tr>
							<tr>
								<td ng-repeat="game in themesCtrl.games.slice(3,6)">
								  <button data-toggle="modal" data-target="#{{game.id}}" class="btn btn-lg btn-block btn-float" ng-click="gameUsed = !gameUsed" ng-class="{'btn-{{game.class}}' : !gameUsed}" style="font-size:2.5em;">{{game.name}}</button>
								</td>
							</tr>
							<tr>
								<td ng-repeat="game in themesCtrl.games.slice(6,9)">
								  <button data-toggle="modal" data-target="#{{game.id}}" class="btn btn-lg btn-block btn-float" ng-click="gameUsed = !gameUsed" ng-class="{'btn-{{game.class}}' : !gameUsed}" style="font-size:2.5em;">{{game.name}}</button>
								</td>
							</tr>
							<tr>
								<td colspan="3" ng-repeat="game in themesCtrl.games.slice(9,10)">
									<button data-toggle="modal" data-target="#{{game.id}}" class="btn btn-lg btn-block btn-float" ng-click="gameUsed = !gameUsed" ng-class="{'btn-{{game.class}}' : !gameUsed}" style="font-size:2.5em;">{{game.name}}</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="modal fade" ng-repeat="game in themesCtrl.games" id="{{game.id}}">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h3>Et Maintenant...</h3>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="well">
										<button class="btn btn-lg btn-bigfloat btn-{{game.class}} btn-block" style="font-size:5em;">{{game.name}}</button>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">X</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<!-- JavaScript -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<!-- Menu Toggle Script -->
		<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		</script>
	</body>
</html>
