<!DOCTYPE html>
<html lang="en" class="ng-scope" ng-app="bangModule">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>BANG 2.0 | Radio Test</title>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="css/simple-sidebar.css" rel="stylesheet">
	</head>
	<body ng-controller="ThemesController as themesCtrl">
		<div id="wrapper">
			<ng-include src="'navbar.html'"></ng-include>
			<!-- #RADIO -->
			<div class="row" id="radio">
				<div class="col-lg-12">
					<h3>Radio Test</h3>
					<hr>
				</div>
				<div class="col-lg-12" ng-repeat="match in themesCtrl.radio">
					<button data-toggle="modal" data-target="#radio{{match.match}}" style="font-size:2.5em;" ng-click="radioUsed = !radioUsed" ng-class="{'btn-primary' : !radioUsed}" class="btn btn-float btn-lg btn-block">{{"Match#"+match.match}}</button>
				</div>
<!-- 				<div class="col-lg-4" ng-repeat="match in themesCtrl.radio.slice(3,6)">
					<button style="font-size:3.5em;" ng-click="radioUsed = !radioUsed" ng-class="{'btn-primary' : !radioUsed}" class="btn btn-float btn-lg btn-block">{{"Match#"+match.match}}</button>
				</div> -->
			</div> 
			<hr>

			<div class="modal fade" id="radio{{radio.match}}" ng-repeat="radio in themesCtrl.radio">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h3>{{"Match#"+radio.match}}&nbsp;<button class="btn btn-default" ng-click="radioReveal = !radioReveal"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button></h3>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="panel panel-primary">
									<div class="panel-body" style="font-size:1em">
										<div class="col-lg-8">
											<div class="row" ng-repeat="title in radio.playlist">
												<button style="font-size:2em;" ng-click="radioPlayed = !radioPlayed" ng-class="{'btn-primary' : !radioPlayed}" class="btn btn-lg btn-block">{{radioPlayed && '#'+($index+1) || title.name}}</button>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="row" ng-repeat="reponse in radio.radios">
												<button width="200" height="200" style="font-size:3em" ng-click="radioFound = !radioFound" ng-class="{'btn-{{reponse.class}}' : !radioFound}" class="btn btn-block btn-lg btn-float"><p style="margin:auto;padding:auto;">{{!radioReveal && reponse.radio || '???'}}</p></button>
												<hr>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">X</button>
						</div>
					</div>
				</div>
			</div>

<!-- 			<div class="row">
				<div class="row" ng-repeat="radio in themesCtrl.radio">
					<div class="col-lg-12">
						<h3>{{"Match#"+radio.match}}</h3>
						<hr>
					</div>
					<div class="panel panel-primary">
						<div class="panel-body" style="font-size:1.5em">
							<div class="col-lg-12" ng-repeat="title in radio.playlist">
								<button style="font-size:2em;" ng-click="radioPlayed = !radioPlayed" ng-class="{'btn-primary' : !radioPlayed}" class="btn btn-lg btn-block">{{radioPlayed && '#'+($index+1) || title.name}}</button>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<button class="btn btn-default btn-block" ng-click="radioReveal = !radioReveal" style="font-size:1.5em;"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
						</div>
						<div class="panel-body" style="font-size:1.5em">
							<div class="col-lg-6" ng-repeat="reponse in radio.radios">
								<button width="200" height="200" style="font-size:3em" ng-click="radioFound = !radioFound" ng-class="{'btn-{{reponse.class}}' : !radioFound}" class="btn btn-block btn-lg"><p style="margin:auto;padding:auto;">{{!radioReveal && reponse.radio || '???'}}</p></button>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<!-- /#RADIO -->
		</div>
		
		<!-- JavaScript -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/npm.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<!-- Menu Toggle Script -->
		<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		</script>
	</body>
</html>
